# Cedric
# 2 / 24 / 2014
# Revision History
# Number 2:
	# Reodered the pins... I could not get the pin in the back 0 to work
	# so I chose bank 3 only V3_IO_xx

NET CLK LOC=AA12 | IOSTANDARD = LVCMOS33  | PERIOD = 10000 ps;	# 100 MHz
#NET RST LOC=R7 | IOSTANDARD = LVCMOS33 | PULLDOWN | TIG;

#### RS-232 DCE 
#NET RXD LOC=Y7	| IOSTANDARD = LVCMOS33;
#NET TXD LOC=AB7	| IOSTANDARD = LVCMOS33;

#### Module Push Button

#Net PB LOC = R7 | IOSTANDARD = LVCMOS33 | PULLDOWN | TIG;

#### SW

#Net SW<0> LOC = AB21   | IOSTANDARD = LVCMOS33; # Switch
#Net SW<1> LOC = AA22 | IOSTANDARD = LVCMOS33 ; # Switch

#### LEDs

#NET LED LOC=K8  | IOSTANDARD = LVCMOS33;
#NET LED<1> LOC=F2  | IOSTANDARD = LVCMOS33;
#NET LED<2> LOC=F1  | IOSTANDARD = LVCMOS33;
#NET LED<3> LOC=J4  | IOSTANDARD = LVCMOS33;

#### DAC

NET CS	LOC = F5 | IOSTANDARD = LVCMOS33; # J2 - 18 CS 
NET DIN	LOC = G4 | IOSTANDARD = LVCMOS33; # J2 - 20 DIN
NET LDAC	LOC = D3 | IOSTANDARD = LVCMOS33; # J2 - 22 LDAC
NET SCLK	LOC = E5 | IOSTANDARD = LVCMOS33; # J2 - 17 SCLK
#### Tester
#NET Tester		LOC = C6 | IOSTANDARD = LVCMOS33;

