Net CLK LOC=AA12;
Net CLK IOSTANDARD = LVCMOS33;

## System level constraints
Net CLK TNM_NET = CLK;
TIMESPEC TS_sys_clk_pin = PERIOD CLK 10000 ps;


#### Module Push Button

Net PB LOC = R7 | IOSTANDARD = LVCMOS33 | PULLDOWN | TIG;

#### SW

Net SW LOC AB21;

#### LED

Net LED LOC F1;