# Cedric
# 2 / 24 / 2014
# Revision History
# Number 1: 

NET mCLK LOC=AA12 | IOSTANDARD = LVCMOS33  | PERIOD = 10000 ps;	# 100 MHz
#NET RST LOC=R7 | IOSTANDARD = LVCMOS33 | PULLDOWN | TIG;

#### RS-232 DCE 
#NET RXD LOC=Y7	| IOSTANDARD = LVCMOS33;
#NET TXD LOC=AB7	| IOSTANDARD = LVCMOS33;

#### Module Push Button

Net PB LOC = R7 | IOSTANDARD = LVCMOS33 | PULLDOWN | TIG;

#### SW

Net DATA LOC = AB21   | IOSTANDARD = LVCMOS33; # Switch
#Net SW<1> LOC = AB22 | IOSTANDARD = LVCMOS33 ; # Switch

#### LEDs

NET LED<0> LOC=K8  | IOSTANDARD = LVCMOS33;
NET LED<1> LOC=F2  | IOSTANDARD = LVCMOS33;
#NET LED<2> LOC=F1  | IOSTANDARD = LVCMOS33;
#NET LED<3> LOC=J4  | IOSTANDARD = LVCMOS33;

#### DAC

NET LDAC	LOC = A4 | IOSTANDARD = LVCMOS33;
NET CS		LOC = D7 | IOSTANDARD = LVCMOS33;
NET SCLK	LOC = F7 | IOSTANDARD = LVCMOS33;
NET DIN		LOC = C6 | IOSTANDARD = LVCMOS33;